@import '_normalize';
@import '_silver';
@import '_button';

body {
    background: #001339;
    font-family: 'Montserrat', sans-serif;
}


.nav {
    padding: 10px 30px;
    .logo {
        h1 {
            span { display: none; }
            display: block;
            padding: 0;
            margin: 0;
            background: url('/img/opes-europe-logo.png');
            width: 469px;
            height: 72px;
        }
        
    }
    .menu {
        text-align: right;
        padding-top: 10px;
    }
}


.intro {
    background: url('/img/intro-background.png');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 577px;


    .intro-text {
        padding-top: 160px;
        .heading {
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 64px;
            line-height: 80px;
            color: white;
            font-weight: 600;
            text-transform: none;
            text-shadow: 3px 3px 0 #000;
            text-align: center;
        }
        .subtext {
            color: white;
            text-align: center;
            font-size: 32px;
            font-weight: 200;
        }
    }
    .intro-action {
        margin-top: 65px;
        text-align: center;
    }
}
