%html
  %head
    %meta{content:  "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel: "stylesheet"}
    %link{href: "/styles/site.css", rel: "stylesheet"}
  %body
    .nav.grid-nr
      .column.logo.bigger
        %h1
          %span OPES Europe
      .column.menu
        %a.button
          Contact us
    .intro
      .intro-text
        .heading
          Welcome to ground zero!
        .subtext
          %span Be part of the Global OPES network
      .intro-action
        %a.button.strong
          Learn more
    .motto
      .label
        %span What we believe in
      .heading
        %span
          Building and supporting a global community of diverse communities with different
          traditions and laws. Bringing growth and prosperity.
    .grid.who-are-we
      .column
        .text
          .heading
            Who we are
          .description
            We are OPES Europe, a founding OPES Community Node. Our mission is to
            always add value back to the OPES Global community.

            OPES Europe helped shape the OPES network. The technical architect of the random
            node selection algorithm, and core contributor.
      .column
        .opes-logo-big

    .grid.ones.our-technology
      .column
        .text
          .heading
            Our Technology
          .description
            We have spent decades developing fin-tech technology, and are most
            exited about building and deploying distributed systems.
      .column
        .grid.tech-cards
          .column
            .card
          .column
            .card
          .column
            .card
    .grid.current-project
      .column
        .opes-lens-logo
      .column
        .text
          .heading
            Current Project
          .description
            At OPES Europe, we are always adding value to the OPES network by building and
            providing fundamental services and tools to the OPES Global Community.

    .grid.ones.connect-now
      .column
        .text
          .heading
            Fund your initiative / Grow your business
          .description
            Now is the time to connect your activity to the OPES Global network!
      .column
        .connect-now-action
          %a.button.strong
            Connect Now


            
