%html
  %head
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel: "stylesheet"}
    %link{href: "/styles/site.css", rel: "stylesheet"}
  %body
    .nav.grid
      .logo.bigger.column
        %h1
          %span OPES Europe
      .menu.column
        %a.button
          Contact us
    .intro
      .intro-text
        .heading
          Welcome to ground zero!
        .subtext
          %span Be part of the Global OPES network
      .intro-action
        %a.button.strong
          Learn more
    .motto
      .label
        %span What we believe in
      .heading
        %span
          Building and supporting a global community of diverse communities with different
          traditions and laws. Bringing growth and prosperity.
    .grid.who-are-we
      .column
        .text
          .heading
            Who we are
          .description
            We are OPES Europe, a founding OPES Community Node. Our mission is to
            always add value back into the OPES Global community.

            OPES Europe helped shape the OPES network. The technical architect of the random
            node selection algorithm, and core contributor.
      .column
        .opes-logo-big



