%html
  %head
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel: "stylesheet"}
    %link{href: "/styles/site.css", rel: "stylesheet"}
  %body
    .nav.grid
      .logo.bigger.column
        %h1
          %span OPES Europe
      .menu.column
        %a.button
          Contact us
    .intro
      .intro-text
        .heading
          Welcome to ground zero!
        .subtext
          %span Be part of the Global OPES network
      .intro-action
        %a.button.strong
          Learn more


