%html
  %head
    %title OPES Europe - Founding Community Node
    %meta{content:  "width=device-width, initial-scale=1", name: "viewport"}
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel: "stylesheet"}
    %link{href: "/styles/site.css", rel: "stylesheet"}
    %link{href: "/img/opes-europe-logo-32.png", rel: "shortcut icon", type: "image/x-icon"}
    %link{href: "/img/opes-europe-logo-256.png", rel: "apple-touch-icon"}

    %script{src: "/js/main.js"}

    / Global site tag (gtag.js) - Google Analytics
    %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-142717903-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-142717903-1');

    :javascript
      function scroll_to_learn_more() {
        var element = document.getElementById("who-are-we");
        element.scrollIntoView({behavior: "smooth"});
      }
  %body
    .nav.grid-nr
      .column.logo.bigger
        %h1
          %a{href: "/"}
            %span OPES Europe
      .column.menu.contact-us
        %a.button{href: "https://forms.gle/DkkVa8X7UArSsvJJA"}
          Contact us
    .intro
      .intro-text
        .heading
          Welcome to ground zero!
        .subtext
          %span Be part of the Global OPES network
      .intro-action.support-action
        .mobile
          %a.button.strong{href: "opesapp://access.opes.one&name=opeseuropecn"}
            Support Us
        .web{style: "display:none"}
          %img.qrcode{src: "/img/qrcode.svg"}
      .mobile-with-opes-screenshot
        %img{src: "/img/mobile-with-opes-screenshot.png"}
      .download-app-buttons
        .app-store
          %img{src: "/img/app-store-badge.svg"}
        .google-play
          %img{src: "/img/google-play-badge.svg"}
    .motto
      .label
        %span What we believe in
      .heading
        %span
          Building and supporting a global network of diverse communities with different
          traditions and laws. Allowing for growth and prosperity.
    .grid.who-are-we#who-are-we
      .column
        .text
          .heading
            Who we are
          .description
            We are OPES Europe, a founding OPES Community Node. Our mission is to
            always add value back to the OPES Global community.

            OPES Europe helped shape the OPES network. The technical architect of the random
            node selection algorithm, and core contributor.
      .column
        .opes-logo-big

    .grid.ones.our-technology
      .column
        .text
          .heading
            Our Technology
          .description
            We have spent decades developing fin-tech technology, and are most
            exited about building and deploying distributed systems.
      .column
        .grid.tech-cards
          .column
            .card
          .column
            .card
          .column
            .card
    .grid.current-project
      .column
        .opes-lens-logo
      .column
        .text
          .heading
            Current Project
          .description
            At OPES Europe, we are always adding value to the OPES network by building and
            providing fundamental services and tools to the OPES Global Community.

    .grid.ones.connect-now
      .column
        .text
          .heading
            Fund your initiative / Grow your business
          .description
            Now is the time to connect your activity! OPES Europe is the trusted
            OTC operator for the OPES network. Contact us for more information,
            help with acquiring a Community Node Key, Access Node Key, or the PE coin.
      .column
        .connect-now-action
          %a.button.strong{href: "https://forms.gle/DkkVa8X7UArSsvJJA"}
            Connect Now


            
